<!doctype html>
<html lang="en-US">
  <head>
    <title>A simple CMS</title>
    <link rel="stylesheet" href="/cms.css" />
    <meta charset="UTF-8">
  </head>

  <body>
    <% if session[:not_found] %>
      <p class="message"><%= session.delete(:not_found) %></p>
    <% end %>

    <% if session[:success] %>
      <p class="message"><%= session.delete(:success) %></p>
    <% end %>

    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <% if session[:signedin] %>
      <% session[:signedout] = true %>
      <p class="message"><%= session.delete(:signedin) %></p>
    <% end %>
     
    <%= yield %>
  </body>
</html>